

# DO NOT SPECIFY AUTH CREDENTIALS IN THIS FILE. This file gets committed.
# use your private user .npmrc for that.

registry=https://registry.npmjs.org
@bentley:registry=https://registry.npmjs.org
always-auth: true
